* {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.car-image {
  max-width: 500px;
  min-width: 500px;
  padding-top: 20px;
}

.image_card {
  width: 540px;
  height: 430px;
  background-color: #0076be;
  border-radius: 10px;
}

.uploader {
  margin-top: 100px;
  margin-bottom: 40px;
}

.image-display {
  width: 100%;
  display: flex;
  justify-content: center;
}

progress#file {
  align-self: center;
}

.progress-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.progress-bar-rect-wrap-container {
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 21%;
  text-align: center;
  margin: 0;
  width: 50%;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8wCUao2omuHb78jMa14wMFoLzGjMcXAoCyfXFW7vkgrOwf9UuLR-gvp0gafldid_SB4Y&usqp=CAU);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #0076be;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}